
.nav-bar{
    margin-top:10px;
    padding:20px 0;
}
.nav-bar a{
    padding:10px 10px;
    margin-right:10px;
    background: rgba(4, 119, 90, 0.719);
    border-radius:5px;
    color:#fff;
    text-decoration:none;
}